.banner-principal-decorativo
  &-1
    animation: rotation 9s infinite linear
    position: absolute
    width: 108%
    bottom: 45%
    left: -10%

@keyframes rotation
  0%
    transform: rotate(0deg)
    opacity: 0
  50%
    transform: rotate(180deg)
    opacity: 1
  100%
    transform: rotate(359deg)
    opacity: 0

.banner-principal
  .banner-principal__img
    padding-bottom: 0 !important
    img
      max-width: 445px
      margin: auto
.container-100
  margin-left: -3rem
  margin-right: -3rem
  padding-right: 3rem
  padding-left: 3rem
  
.tarjeta-edit-5
  border-top-left-radius: 0
  border-bottom-left-radius: 0
  background-color: #F6F6F6
  margin-left: -4rem
  margin-right: auto
  @media (max-width: 991px)
    margin-left: auto
    border-radius: 20px
.tabs-a
  .tabs-a__tab
    background-color: #E8E8E8
  .tabs-a__tab__selected
    color: white !important
.bloque-texto-g
  .bloque-texto-g__texto
    width: 80%
  @media (max-width: 991px)
    padding: 1rem !important
    display: flex
    flex-wrap: wrap
    .bloque-texto-g__img
      display: none
    .bloque-texto-g__texto
      width: 100%
    
.linea-tiempo-b__icon img
  max-width: 80px
  @media (max-width: $bp-max-md)
    max-width: 40px